body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.gridContainer .row {
  margin:0 0px 0 0px;
}
.gridContainer .row .col {
  border: 10px solid lightgrey;
  height: 110%;
  padding:0px;
  margin:0px;
}
.gridContainer .nameDiv{
  background-color: darkgrey;
  width:100%;
  padding:0px;
  margin:0px;
}

.gridContainer .row .col:first-child {
  border-left: none;
}
.gridContainer .row .col:last-child {
  border-right: none;
}
.gridContainer .row:first-child .col {
  border-top: none;
}
.gridContainer .row:last-child .col{
  border-bottom: none;
}
.gridContainer .selected{
  border: 2px solid blue;
}

.gridContainer{
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.gridContainer img {
  width:100%;
  height:100%;
  border-radius: 60%
}
.btnDiv .col {
  height: 60px;
  color: white;
  border:none;
}
.btnDiv{
  margin:0 15px 0 15px;
}
.btnDiv .newBtn{
  background-color: green;
}
.btnDiv .delBtn{
  background-color: red;
}
.mainDiv{
  border: 1px solid lightgrey;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
#scrollDes::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scrollDes::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scrollDes::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
}
