body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.row {
  width:100%;
}
.mainDiv .row {
  margin:0 0px 0 0px;
}
.gridContainer .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
[class*="col"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.gridContainer .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.gridContainer .row .col {
  border: 7px solid lightgrey;
  height: 110%;
  padding:0px;
  margin:0px;
}
.gridContainer .nameDiv{
  background-color: #bdbdbd;
  width:100%;
  padding:0px;
  margin:0px;
}

.gridContainer .row .col:first-child {
  border-left: none;
}
.gridContainer .row .col:last-child {
  border-right: none;
}
.gridContainer .row:first-child .col {
  border-top: none;
}
.gridContainer .row:last-child .col{
  border-bottom: none;
}
.gridContainer .selected{
  border: 2px solid blue;
}

.gridContainer{
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.gridContainer img {
  width:100%;
  height:100%;
  border-radius: 60%
}
.gridContainer .blankDiv {
  width:100%;
  height:75px;;
  background-color: #bdbdbd;
}
.btnDiv .col {
  height: 60px;
  color: white;
  border:none;
}
.btnDiv .newBtn{
  background-color: green;
}
.btnDiv .delBtn{
  background-color: red;
}
.mainDiv{
  border: 1px solid lightgrey;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 40px;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
#scrollDes::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scrollDes::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.hidden {
  /*visibility: hidden;*/
  display:none;
}

#scrollDes::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
}
.container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width:100%;
}

.headerDiv {
    background-color: lightgrey;
    height:40px;
    padding-left:0px !important;
    padding-right: 0px !important;
}
.hiDiv{
  width:15%;
  height:100%;
  float:left;
  background-color: #005580;
  text-align: center;
  line-height: 100%;
}
.hiDiv span{
  display: inline-block;
  color: white;
  margin-top:20%;
}
.crossDiv img, .searchDiv img, .searchInputDiv img:last-child{
  height: 15px;
  width: 15px;
  float: right;
  margin-top:3%;
  display:inline;
  margin-right:5px;
}
.searchInputDiv img:first-child{
  height: 15px;
  width: 15px;
  float: left;
  margin-top:3%;
  display:inline;
}
.searchLabel{
  width:85%;
  float:left;
  margin-top: 3px;
}
.searchDiv {
    background-color: #bdbdbd;
    height:30px;
    font-size: 15px;
    color: grey;
    padding-left: 2px !important;
    padding-right: 0px  !important;
}
.searchInputDiv{
  width:100%;
  height:30px;
}
.search-input {
  width:70%;
  display:inline;
  padding-left: 5px;
}
.search-input  input{
  margin-top:3px;
  border:transparent !important;
  width:85%
}
